.cancel {
  background-color: #fff !important;
  border: 1px solid#007bff !important;
  color: #007bff !important;
  font-family: 'Roboto-Bold' !important;
}
.save {
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
  color: #fff !important;
  font-family: 'Roboto-Bold' !important;
}
