nb-card {
  min-width: 10rem;
  // max-width: 20rem;
  margin: 0 auto 2rem;
  max-height: 700px;
}
nb-list{
  max-height: 600px;
}
.main-container{
  padding-top: 30px;
  width:500px;
}
.close-modal{
  float: right;
}
