.cancel {
    background-color: #fff !important;
    border: 1px solid#007bff !important;
    color: #007bff !important;
    margin-left: 2px;
  }
  .save {
    background-color: #007bff !important;
    border: 1px solid #007bff !important;
    color: #fff !important;
  }
  .checkboxtext{
      width: max-content;
    }
