.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 5px 7px;
  color:white;
  border: 0px solid;
  text-align: center;
  font: 7px Arial, sans-serif;
  margin-right: 1.5px;
}
span.single-cir {
    float: left;
    width: 33.33%;
}
