.form-inline [fullWidth] {
    flex: 1;
}

.form-inline > * {
margin: 0 1.5rem 1.5rem 0;
}

.with-add-date-icon{
  width: 23px;
   position: absolute;
   right: 6px;
   left:12px;
   top: 0px;
}

nb-card.inline-form-card nb-card-body {
padding-bottom: 0;
}
