::ng-deep .nb-theme-default.login_body nb-card-header {
  display: none !important;
}

::ng-deep .nb-theme-default.login_body nb-layout-column {
  background: #55b9ec !important;
  padding: 0 !important;
}

::ng-deep .nb-theme-default.login_body nb-card {
  border: none;
  background-color: inherit !important;
  display: block !important;
  flex-direction: unset !important;
  height: auto !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
::ng-deep .nb-theme-default.login_body ngx-login nb-card {
  margin-bottom: 0 !important;
  top: 0;
  left: 0;
  transform: none;
}

::ng-deep  .forgot-card {
  margin-bottom: 0 !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
}
::ng-deep .nb-theme-default.login_body nb-dialog-container nb-card-header {
  display: block !important;
}

::ng-deep .nb-theme-default.login_body nb-dialog-container nb-card {
  display: flex !important;
  flex-direction: column !important;
  background-color: #ffffff !important;
  border: 0.0625rem solid #e4e9f2 !important;
  height: auto !important;
  position: unset !important;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.example-card {
  width: 450px;
  border-radius: 10px;
}

.scroller {
  height: 100vh;
  overflow: auto;
}

::ng-deep .login_body nb-tabset .tabset {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: none !important;
  justify-content: center !important;
}

::ng-deep .login_body nb-tab {
  text-align: center;
  padding: 10px !important;
}

:host ::ng-deep .login_body ngx-tab1, :host ::ng-deep .login_body ngx-tab2 {
  display: block;
  padding: 1rem 2rem;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.login_body .btn-primary {
  background-color: #55b9ec;
  border-color: #55b9ec;
  font-size: small;
  padding: 12px;
}

.forgot-password {
  bottom: 0;
  height: 80px;
  background-color: #f6f6f6 !important;
  text-align: center;
  border-top: 2px solid #edeef0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .btn-link {
    color: #b8c5d2;
  }
}

.btn-link:focus {
  box-shadow: none;
}

input {
  border: none;
  background: #f6f6f6 !important;
}

.welcome-message {
  text-align: center;
}
.layout_logo {
  display: flex;
  justify-content: center;
  margin-top: 12px;;
  .logo {
    width: 150px;
    height: 110px;
    display: block;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
.font-s{
  font-size: small;
}

.message_Box{
  width: 450px;
  margin: 10px auto;
  background-color: #00d68f;
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
  .icon_image {
    width: 40px;
    height: 40px;
    display: block;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
 .message_Box1 {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 85%;
    margin-left: 15px;
   .success {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 600;
   }
   .message_boxtext{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 500;
  }
 }
}
.scroller{
margin-bottom: 0 !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    border: none;
    text-align: center;
    height: auto;
  }

