<div class="h-100 d-flex justify-content-center align-items-center">

  <div class="example-card shadow-lg bg-white">
    <div class="layout_logo">
      <span class="logo"><img src="{{logoURL}}"  width="40"/></span>
      </div>
    <div class="card-body">

      <div class="h-100 d-flex justify-content-center align-items-center" *ngIf="showFlashMessage">
        <nb-card-body class="example-last-child-no-b-margin">
          <nb-alert  (close)="onClose()" *ngIf="emailStatus" [status]="emailStatus" closable>
            {{ emailResponse }}
          </nb-alert>
        </nb-card-body>
      </div>

      <nb-card class="scroller" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">

            <span><img src="assets/images/user.png" alt="user" width="30"/></span>
            <form (ngSubmit)="onFormSubmit()" [formGroup]="forgotPasswordForm" class="mt-1">
              <input
                class="form-control shadow-none p-3 mb-2 h-25 bg-light rounded"
                formControlName="email"
                placeholder="Email"
                type="email">

              <button [disabled]="forgotPasswordForm.invalid" class="btn btn-primary btn-lg w-50 mb-1" type="submit">
                SUBMIT
              </button>
              <div class="forgot-password shadow-none p-3 bg-light w-100" style="margin-top: 15px;">
                <button class="btn btn-link" type="button" (click)="redirectToLogin()">LOG IN</button>
              </div>
            </form>

      </nb-card>
    </div>
  </div>
</div>
