#ng-chat
{
    position:fixed;
    z-index:999;
    right:0;
    bottom:0;
    box-sizing: initial;
    font-size: 11pt;
    text-align: left;
}
    #ng-chat .shadowed
    {
        box-shadow: 0 4px 8px rgba(0,0,0,.25);
    }
.ng-chat-loading-wrapper
{
    height: 30px;
    text-align: center;
    font-size:0.9em;
}
.ng-chat-close
{
    text-decoration:none;
    float:right;
}
.ng-chat-title, .ng-chat-title:hover
{
  color: #fff;
    border-bottom: 1px solid #edf1f7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 13px 10px 10px;
    font-family: 'Roboto-Bold';
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 15px;
    display: block;
    width: 100%;
    text-decoration: none;
    box-shadow: none !important;
    min-height: 18px;
    float: left;
}
a.ng-chat-close.primary-text{
  position: absolute;
}
    .ng-chat-title .ng-chat-title-visibility-toggle-area
    {
        display: inline-block;
        width: 85%;
    }
    .ng-chat-title .ng-chat-title-visibility-toggle-area1 {
      display: inline-block;
    width: 65%;
    max-height: 31px;
  }
  input.form-control.date-time-inp-cus {
    outline: 0px solid rgba(0, 0, 0, 0.5);
    border: 1px solid #e7e5e7;
    box-shadow: none;
}
  input.form-control.date-time-inp-cus:focus {
    outline: 0px solid rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.8) !important;
    box-shadow: none;
}
button.btn.btn-outline-secondary {
  border-color: #e7e5e7;
}
button.btn.btn-outline-secondary:focus {
  border-color: rgba(0, 0, 0, 0.8) !important;
}
    .ng-chat-title .ng-chat-title-visibility-toggle-area > strong{
        font-weight: 600;
        display: block;
        /* overflow: hidden; */
        height: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 85%;
        float:left;
        margin-top: 4px;
        overflow: hidden;
    }

    .ng-chat-title .ng-chat-title-visibility-toggle-area .ng-chat-participant-status
    {
        float: left;
        margin-left: 5px;
        margin-top: 8px;
    }

.ng-chat-participant-status
{
    display: inline-block;
    border-radius: 25px;
    width: 8px;
    height: 8px;
    margin-top:3px;
    margin-left: 7px;
}
.ng-chat-participant-status.online
{
    background-color: #92A400;
}
.ng-chat-participant-status.busy
{
    background-color: #F91C1E;
}
.ng-chat-participant-status.away
{
    background-color: #F7D21B;
}
.ng-chat-participant-status.offline
{
    background-color: #BABABA;
}
.ng-chat-participant-status.unread
{
    background-color: hsl(236, 100%, 32%);
}
.ng-chat-unread-messages-count
{
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 25px;
    font-size: 0.9em;
    line-height: 30px;
}

.ng-chat-options-container
{
    float: right;
    margin-right: 5px;
}

.cdk-drag.ng-chat-window.primary-outline-color.center-pos {
  position: fixed;
  right: 0 !important;
  left: 0 !important;
  margin: 0 auto !important;
  top: calc(100% - 80%) !important;
}
.external-window-open {
  display: none;
}
