@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../styles/themes";
@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  * {
    font-family: "Roboto-Light";
  }
  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});

    .cavalry-logo {
      cursor: pointer;
    }
  }
  .announcements-btn {
    border: 1px solid #ced4da;
    color: #495057;
    &:focus {
      box-shadow: none;
    }
  }
  .annRead {
    background-color: #274bdb;
    border: 1px solid #274bdb;
    color: #fff;
  }
  .nb-theme-default nb-layout.window-mode .layout nb-layout-header {
    z-index: 1;
  }
  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }
  .search-data {
    margin-top: 14px;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }
  ::ng-deep .user-container {
    .user-name {
      font-family: "Roboto-Bold";
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(margin-right, 1.25rem);
      @include nb-rtl(margin-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.header-container {
  position: relative;
}
.dropdown-menu {
  display: block;
  top: 71px !important;
  width: 300px;
  right: 190px;
  top: 75px;
  left: auto;
  border: 0px solid;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  border-radius: 6px;
  margin: 0;
  padding: 0px;
  background: #f5f8fb;
  border: 1px solid rgba(155, 159, 179, 0.29);
  color: #222b45;
  font-size: 14px;
}
.dropdown-menu ul {
  margin: 0px;
  padding: 0;
  list-style: none;
  max-height: 278px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown-menu ul::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.dropdown-menu ul::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 0px #eaeaef;
  border-radius: 12px;
  background: #e3e6ed;
}
/* Handle */
.dropdown-menu ul::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 12px;
  max-height: 15px;
  border: 2px solid #e3e6ed;
  box-shadow: 2px 2px 2px #e3e6ed;
}
.dropdown-menu ul li {
  padding: 6px 15px 2px;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(155, 159, 179, 0.29);
  background: #fff;
}
.dropdown-menu ul li:hover {
  background: #edf1f7;
}
.dropdown-menu ul li:last-child {
  border-bottom: 0px solid rgba(155, 159, 179, 0.29);
}
.dropdown-menu ul a {
  padding: 0;
  font-size: 15px;
  margin-bottom: 0px;
  text-decoration: none;
  min-height: 60px;
  font-family: "Roboto-Light" !important;
  text-decoration: none;
  color: #222b45;
  font-size: 15px;
  background: transparent !important;
}
.dropdown-menu ul a .item-con {
  font-family: "Roboto-Bold" !important;
  text-decoration: none;
  color: #222b45;
  font-size: 15px;
  display: block;
  margin-bottom: 3px;
  text-transform: capitalize;
}
.dropdown-menu ul a .item-con.item-description {
  min-height: 35px;
  display: block;
}
.dropdown-menu ul a .item-con.item-date {
  color: #747477af;
  font-family: "Roboto" !important;
  font-weight: 400;
  font-size: 13px;
}
.dropdown-menu ul li:last-child a {
  border: none;
}
.dropdown-menu ul a img {
  float: left;
  width: 23px;
  height: 23px;
  overflow: hidden;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
}
.dropdown-header {
  font-family: "Roboto-Bold" !important;
  padding: 10px 15px;
  text-transform: capitalize;
  color: #222b45;
  font-size: 15px;
  border-bottom: 1px solid rgba(155, 159, 179, 0.29);
}
.dropdown-header a {
  font-family: "Roboto-Bold" !important;
  text-decoration: none;
  color: #222b45;
  font-size: 15px;
}
.dropdown-menu i.fas.fa-caret-up {
  right: 25px;
  position: absolute;
  font-size: 15px;
  top: -24px;
  font-size: 35px;
  color: rgba(155, 159, 179, 0.29);
  z-index: 9999;
  font-family: "Font Awesome 5 Free";
}
.dropdown-footer {
  font-family: "Roboto-Bold" !important;
  padding: 12px 15px 8px;
  text-transform: capitalize;
  color: #222b45;
  font-size: 15px;
  text-align: center;
  border-top: 1px solid rgba(155, 159, 179, 0.29);
}
.dropdown-footer a {
  font-family: "Roboto-Bold" !important;
  text-transform: capitalize;
  color: #007bff;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}
.nb-theme-default .cdk-overlay-pane {
  display: none;
}
.unread-message {
  background: #cbe1ec94 !important;
}
.read-message {
  background: #fff !important;
}
.add-icon {
  color: blue;
  width: 40px;
  height: 40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 21px;
  background-color: #5c77ea;
  width: 160px;
  height: auto;
  border-radius: 5px;
}
.list-in-ul {
  font-family: "DM Sans";
  color: white;
  margin-top: 5px;
  font-size: 15px;
  margin-bottom: 23px;
  font-weight: 500;
  cursor: pointer;
}
.header-search {
  margin-left: 30px;
}
.header-search .form-group {
  width: 280px;
  background: #f8fbff;
  border: 1px solid #d7dfe9;
  height: 40px;
  border-radius: 5px;
  margin-top: 16px;
}
.header-search input.form-control.search-data {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  background: transparent;
  border: none;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: normal;
  height: 40px;
}
.header-search input.form-control.search-data::placeholder {
  text-transform: capitalize;
  color: #959fab;
}
.header-container.header-with-nb-icon nb-action.mat-ripple.control-item {
  border: none;
  padding: 0 35px 0 0;
}
.header-announcements button.btn.announcements-btn {
  margin-right: 35px;
  background: #f8fbff;
  border: 1px solid #d7dfe9;
  height: 40px;
  border-radius: 5px;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: normal;
}
nb-action.mat-ripple.control-item.add-icon {
  margin-right: 35px;
}
.dropdown-menu.notifi-drp-dwn {
  width: 400px;
  max-height: calc(100vh - 40px);
  background: #ffffff;
  border-radius: 6px;
  opacity: 1;
  position: absolute;
  right: -5px;
  top: 15px !important;
  overflow: hidden;
  height: auto;
}
.dropdown-menu.notifi-drp-dwn .dropdown-header {
  font-family: "DM Sans" !important;
  font-size: 18px;
  font-weight: 500;
  color: #5c77ea;
  padding: 17px 1.5rem;
  border-bottom: 1px solid #edf1f7;
}

.dropdown-menu.notifi-drp-dwn .dropdown-header .notifi-drp-dwn-add-icon {
  position: relative;
  width: 12px !important;
  cursor: pointer;
  top: -7px;
  float: right;
  margin-right: 0;
}
.dropdown-menu.notifi-drp-dwn .dropdown-footer {
  position: relative;
  bottom: -26px;
  top: auto;
  float: left;
  width: 100%;
  border: none;
}
.dropdown-menu.notifi-drp-dwn .dropdown-footer a {
  font-family: "DM Sans" !important;
  font-weight: 500;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body {
  width: 100%;
  height: auto;
  background: #fff !important;
  max-height: calc(100vh - 95px) !important;
  padding: 11px 0 11px 22px;
  overflow-y: auto;
  min-height: 200px;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body::-webkit-scrollbar {
  width: 10px;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body ul.data-listing {
  width: 100%;
  height: 100%;
  background: transparent !important;
  max-height: inherit !important;
  padding: 0 20px 0 0;
  overflow: visible;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body ul.data-listing li {
  margin-bottom: 11px;
  border: 1px solid #d7dfe9;
  border-radius: 6px;
  position: relative;
  padding: 20px;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body ul.data-listing li span.item-con.item-task {
  position: absolute;
  right: 10px;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body ul.data-listing li span.item-con.item-task i.fal.fa-ellipsis-v {
  font-family: "FontAwesome" !important;
  font-size: 15px;
  color: #262b44 !important;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body ul.data-listing li span.item-con.item-description {
  font-family: "DM Sans" !important;
  font-size: 16px;
  font-weight: 500;
  color: #262b44;
  line-height: 22px;
  min-height: inherit !important;
  display: initial !important;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body ul.data-listing li span.item-con.item-date {
  font-family: "DM Sans" !important;
  color: rgba(38, 43, 68, 0.5) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  margin-top: 13px;
  margin-bottom: 0;
}
.dropdown-menu.notifi-drp-dwn .dropdown-body ul.data-listing li img {
  opacity: 0.5;
  width: 16px !important;
  height: 16px !important;
  position: relative;
  top: 3px;
}
.dropdown-menu.notifi-drp-dwn .dropdown-header img.header-icon {
  width: 18px;
  margin: -5px 2px 0 0;
}
.dropdown-menu.notifi-drp-dwn i.fas.fa-caret-up {
  display: none;
}
.overlay-enabled {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99;
  left: 0;
  top: 0;
}

.call-log-field.field-area span {
  float: left;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  color: #262b44;
}
.call-log-field.field-area span.call-log-title {
  margin-right: 3px;
}
.call-log-field.field-area {
  margin-bottom: 10px;
  border-radius: 65px !important;
}

.refer-reminder {
  background: #f8fbff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.14);
  border: 1px solid #d7dfe9;
  border-radius: 65px;
  opacity: 1;
  margin: 10px 13px 0;
  padding: 8px 13px;
}
.refer-reminder .field-area.call-log-field img.phone-image-icon {
  opacity: 1 !important;
  width: 16px !important;
  border-radius: 0px !important;
  transform: rotate(10deg);
}
nb-action.control-item.notification_dropdown{
  overflow: visible;
}

