
.document_modals{
    width: 1000px;
    height: 800px;
  }

  .mat-select-trigger{
    width: 100%;
  }
  
  .no-options{
    color: red;
  }
  
  .scroll{
    overflow-x: scroll;
  }
  table {
    width: 100%;
  }
  
  button {
    margin: 16px 8px;
  }
  table, th, td {
    border: 1px solid black;
    padding: 7px;
  }
  .mat-form-field {
    width:500px;
  }
  .email-field {
    width:500px;
  }
  .email_modal{
    width: 1000px;
    height: 800px;
  }
  .save_button{
    float:right
  }
  input.full-width-input {
    width: 100% !important;
  }
  