@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
  }

  .cancel {
    margin-right: 1rem;
  }
}

nb-card{
  width: 600px;
  height: 350px;
}

.right {
  float: right;
  margin-bottom: 10px;
}
.margin-right{
  margin-right: 10px;
}
